.admin{
    height: 90vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    margin-top: 4rem;
    .left-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 1rem 2rem 0 2rem;
        background-color: #6722b5;
        color: #fff;
        position: fixed;
        top: 4rem;
        left: 0;
        height: 90vh;
        .dashboard-link{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
    .right-container{
        display: flex;
        flex-direction: column;
        padding-left: 15rem;
        .top-container{
            display: flex;
            gap: 5rem;
            margin-top: 2rem;
            div:first-child{
                background-color:#ecfeed;
            }
            div:nth-child(2){
                background-color: #eaffed;
            }
            div:nth-child(3){
                background-color: #fbebeb
            }
            div{
                height: 7rem;
                width: auto;
                text-align: center;
                display: grid;
                place-items: center;
                padding: 0.5rem;
                p{
                    font-size: 1.4rem;
                    font-weight: bold;
                }
                span{
                    font-size: 1.2rem;
                }
            }
        }
        .bottom-container{
            margin-top: 2rem;
            .add-product{
                height: 20rem;
                width: auto;
                padding: 0.8rem;
                position: absolute;
                background-color: #ecfeed;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .close-mark{
                    position: absolute;
                    right: 0;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    input{
                        height: 1.8rem;
                        padding-left: 0.3rem;
                    }
                    textarea{
                        height: 3rem;
                    }
                }
            }
            table{
                width: 65rem;
                border-collapse: collapse;
                tr{
                    th{
                        background-color: #6722b5;
                        height: 2rem;
                        color: #fff;
                    }
                    td{
                        text-align: center;
                        height: 2rem;
                    }
                    &:nth-child(odd) {
                        background-color: #f0f0f0; /* Background color for odd rows */
                    }
        
                    &:nth-child(even) {
                        background-color: #e6e6e6; /* Background color for even rows */
                    }
                    .action-button{
                        display: flex;
                        gap: 2rem;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}